body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  background-image: url(images/wallpaper5.jpg);
  background-size: cover;
}
.wrapper #topNav {
  width: 100%;
  max-height: 22px;
  background-color: rgba(245, 245, 245, 0.8);
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 22px 0px #888888;
  z-index: 999;
}
.wrapper #topNav .help {
  background-color: none;
  cursor: default;
}
.wrapper #topNav ul.left li {
  position: relative;
}
.wrapper #topNav ul.left li:hover {
  background: linear-gradient(180deg, #bde0f1, #33a0d6);
  cursor: default;
}
.wrapper #topNav li.glyphicon-apple:hover {
  background: none;
  cursor: default;
}

ul {
  list-style-type: none;
  padding: 0;
}

.glyphicon-apple {
  padding: 0 0 0 20px;
}

.glyphicon {
  top: 0;
  font-size: 18px;
}

ul.left {
  display: block;
  float: left;
}
ul.left li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
}

li.miniLogo {
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: -2px;
}

li.bold {
  font-weight: bolder;
  font-size: 14px;
}

ul.right {
  display: block;
  float: right;
}
ul.right li {
  display: inline-block;
  margin: 0;
  padding: 1px 10px;
  font-size: 16px;
  font-weight: 500;
}

#iconOverview {
  position: absolute;
  right: 20px;
  top: 60px;
}

#iconAbout {
  position: absolute;
  right: 20px;
  top: 160px;
}

#iconPortfolio {
  position: absolute;
  right: 20px;
  top: 260px;
}

#iconWelcome {
  position: absolute;
  right: 20px;
  top: 360px;
}

#iconBooks {
  position: absolute;
  right: 20px;
  top: 460px;
}

.desktop_icon {
  min-width: 120px;
  cursor: pointer;
}
.desktop_icon .icon {
  padding: 0 10px 0 10px;
}
.desktop_icon .icon:hover {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 5px;
}
.desktop_icon img {
  height: auto;
  width: 72px;
}
.desktop_icon p {
  width: 72px;
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 0px 2px 8px #111111;
}

.window {
  border: 1px solid black;
  position: absolute;
}
.window .windowBar {
  height: 40px;
  background: #d8dde2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.window .windowBar ul.button {
  display: inline-block;
}
.window .windowBar ul.tab {
  display: inline-block;
  cursor: default;
}
.window .windowBar ul.tab li {
  padding: 3px 12px;
  font-weight: 900;
  color: rgba(1, 1, 1, 0.6);
  letter-spacing: 0px;
}
.window .glyphicon {
  cursor: auto;
}
.window .glyphicon-remove-sign {
  color: #cacaca;
  margin: 10px 2px 0 10px;
}
.window .glyphicon-remove-sign:hover {
  color: #ff6d61;
}
.window .glyphicon-minus-sign {
  color: #cacaca;
  margin: 10px 2px 0 10px;
}
.window .glyphicon-minus-sign:hover {
  color: #ffc661;
}
.window .windowIcon {
  width: 32%;
  float: left;
}
.window .windowIcon img {
  position: absolute;
  top: 60%;
  transform: translate(0%, -60%);
  height: 300px;
}
.window .about {
  text-align: left;
  width: 66%;
  float: right;
}
.window .about p {
  font-weight: 700;
}
.window .about p span {
  font-weight: 300;
  padding-left: 10px;
}

#dock {
  position: fixed;
  display: block;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  height: 90px;
  min-width: 400px;
  max-width: 90%;
  background-color: rgba(151, 151, 151, 0.7);
  border-radius: 5px;
  z-index: 9999;
}
#dock span.border {
  border-left: 2px solid gray;
  position: relative;
  top: 10px;
  bottom: 20px;
}
#dock .minFolderOverview {
  float: left;
  display: none;
}
#dock .minFolderAbout {
  float: left;
  display: none;
}
#dock .minFolderWelcome {
  float: left;
  display: none;
}
#dock .minFolderPortfolio {
  display: none;
  float: left;
}

#sort {
  float: left;
}
#sort a {
  display: inline-block;
}
#sort img {
  height: 60px;
  width: 60px;
  margin: 10px 15px 5px 15px;
  float: right;
  cursor: pointer;
}

#noSort {
  float: right;
}
#noSort p {
  position: relative;
  top: -10px;
  left: 4px;
  display: none;
  font-weight: 700;
}
#noSort img {
  height: 60px;
  width: 60px;
  margin: 10px 15px 5px 15px;
  float: right;
  cursor: pointer;
}

.windowAbout {
  display: none;
  position: absolute;
  left: 10%;
  top: 16%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.windowSettings {
  display: none;
  left: 16%;
  top: 26%;
  position: absolute;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowSettings .setting {
  margin: 0;
  display: block;
}
.windowSettings .setting .wallpaper {
  margin: 2%;
  width: 150px;
}
.windowSettings .setting .wallpaper h4 {
  border-bottom: 1px solid #cacaca;
  color: rgba(1, 1, 1, 0.6);
  text-align: center;
  font-weight: 700;
}
.windowSettings .setting .wallpaper button {
  width: 150px;
  margin: 5px 0;
  padding: 5px 10px;
  border: 0;
  border-radius: 0px;
  color: rgba(1, 1, 1, 0.7);
  background: linear-gradient(180deg, #d8dde2, #b1b1b1);
  cursor: pointer;
}
.windowSettings .setting .wallpaper button:hover {
  background: linear-gradient(180deg, #7db1e5, #97c1ea);
}
.windowSettings .setting .wallpaper button:active {
  background: -webkit-linear-gradient(0deg, #cacaca, #b1b1b1);
  background: -o-linear-gradient(0deg, #cacaca, #b1b1b1);
  background: linear-gradient(0deg, #cacaca, #b1b1b1);
}
.windowSettings .setting .wallpaper button:focus {
  outline: 0;
}

.windowOverview {
  display: none;
  position: absolute;
  left: 7%;
  top: 11%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.windowEmail {
  display: none;
  position: absolute;
  left: 19%;
  top: 31%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowEmail input {
  width: 100%;
  padding: 5px 0;
  background: whitesmoke;
  border: 0;
}
.windowEmail input:focus {
  outline: none;
}
.windowEmail input::-webkit-input-placeholder {
  font-weight: 700;
}
.windowEmail textarea {
  min-height: 200px;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  margin: 5px 0 0 0;
  border: 0;
  background: whitesmoke;
  resize: none;
  border-top: 1px solid #cacaca;
}
.windowEmail textarea:focus {
  outline: none;
}
.windowEmail input[type=submit] {
  border: 1px solid #cacaca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  font-weight: 700;
}
.windowEmail input[type=submit]:hover {
  background: linear-gradient(0deg, #339966, #b1e5ca);
  color: rgba(1, 1, 1, 0.6);
}
.windowEmail input[name=name] {
  padding-left: 10px;
  border-bottom: 1px solid #cacaca;
}
.windowEmail input[name=_replyto] {
  padding-left: 10px;
}
.windowEmail textarea[name=message] {
  padding-left: 10px;
}

a.desktop_icon:hover {
  text-decoration: none;
}

.windowWelcome {
  position: absolute;
  left: 4%;
  top: 6%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowWelcome span {
  font-family: monospace;
}
.windowWelcome span h4, .windowWelcome span h5 {
  margin: 10px;
}

.windowPortfolio {
  display: none;
  position: absolute;
  left: 13%;
  top: 21%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowPortfolio .portfolioGrid {
  margin-left: 0;
  margin-top: 0;
}
.windowPortfolio .portfolioGrid .item {
  position: relative;
  width: 32.8%;
  display: inline-block;
}
.windowPortfolio .portfolioGrid .item:hover {
  background: linear-gradient(180deg, #7db1e5, #97c1ea);
}
.windowPortfolio .portfolioGrid .item img {
  height: auto;
  width: 100%;
  display: inline-block;
}
.windowPortfolio .portfolioGrid .item p {
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: rgba(1, 1, 1, 0.6);
}

.loaderWrapper {
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  background: #33333e;
  z-index: 9999;
}
.loaderWrapper #loading {
  position: relative;
  font-family: monospace;
  color: white;
  margin: 200px;
  font-size: 16px;
}
.loaderWrapper #loading .loadText {
  display: inline;
}
