$bar: rgb(245,245,245)
$transp-bar: rgba(245,245,245,0.55)
$dark-gray: #858585
$light-gray: #CACACA
$tab-gray:#B1B1B1
$white: #eeeeee
$blue: #0088cc


body
    margin: 0
    overflow: hidden

    
.wrapper
    max-width: 100%
    height: 100vh
    background-image: url(images/wallpaper.jpg)
    background-size: cover
    
    
    #topNav
        width: 100%
        max-height: 30px
        background-color: $transp-bar
        position: fixed
        top: 0
        box-shadow: 0px 0px 25px 5px #888888
        z-index: 999
        
        
ul
    list-style-type: none 
    padding: 0
    
.glyphicon-apple
    padding: 0 0 0 20px
    
.glyphicon
    top: 0
    font-size: 18px
    
ul.left
    display: block
    float: left
    li
        display: inline-block
        margin: 5px 20px 0 0
        font-size: 16px
        font-weight: 500
        
    li.bold
        font-weight: 900
        
ul.right
    display: block
    float: right
    li
        display: inline-block
        margin: 5px 5px 0 10px
        font-size: 16px
        font-weight: 500

#icon1 
    position: absolute
    right: 20px
    top: 60px
#iconOverview
    position: absolute
    right: 20px
    top: 220px
#iconAbout
    position: absolute
    right: 20px
    top: 380px
        
.desktop_icon
    min-width: 120px
    
    
    img 
        height: 100px
        width: 100px
        
        
    p 
        max-width: 100px
        text-align: center
        font-weight: 700
        color: rgb(245,245,245)
        text-shadow: 0px 2px 8px #111111
       
.window
    height: 400px
    width: 600px
    background-color: rgba(245,245,245,1)
    position: relative
    top: 10%
    left: 50px
    border-radius: 5px
    z-index: 99
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2)
    
    
    .windowBar
        height: 40px
        background-color: $light-gray
        border-top-left-radius: 5px
        border-top-right-radius: 5px
        
        ul.button
            display: inline-block
        
        ul.tab
            display: inline-block
            position: relative
            left: 43%
            bottom: 3px
            transform: translate(-100%)
            
            
            li
                background-color: $tab-gray
                padding: 3px 12px
                font-weight: 400
                border: 1px solid $white
                border-radius: 5px
                color: rgb(245,245,245)
                letter-spacing: 1px
                
            
            
    .glyphicon-remove-sign
        color: #DD3333
        margin: 10px 2px 0 10px
    .glyphicon-minus-sign
        color: yellow
        margin: 10px 2px 0 2px
    .glyphicon-plus-sign    
        color: #33DD33
        margin: 10px 2px 0 2px
        
        
        
    .windowIcon
        width: 32%
        float: left
        
        img
            position: absolute
            top: 60% 
            transform: translate(0%, -60%)
            height: 300px
            
    .about
        text-align: left
        width: 66%
        float: right
        
        p
            font-weight: 700
            span
                font-weight: 300
                padding-left: 10px
            
            
#dock
    position: fixed
    bottom: -5px
    left: 50%
    transform: translate(-50%)
    height: 90px
    min-width:400px
    max-width: 90%
    background-color: rgba(151,151,151,0.9)
    border-radius: 5px
    
   
        
    img
        height: 60px
        width:  60px
        margin: 10px 5px 5px 5px
        float: right
    
        
            
        
    span.border
        border-left: 2px solid gray
        position: fixed
        top: 10px
        bottom: 20px
        
    .minFolderOverview
        float: left
        display: none
    .minFolderAbout
        float: left
        display: none
#sort
    float: left
        
        
#noSort
    float: right
    
    p
        position: relative
        top: -10px
        left: 4px
        display: none
        font-weight: 700
        
    
.windowAbout
    display: none
    
    
    
    
    
    
    
    
    
    