body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  background-image: url(images/wallpaper.jpg);
  background-size: cover;
}
.wrapper #topNav {
  width: 100%;
  max-height: 30px;
  background-color: rgba(245, 245, 245, 0.55);
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 25px 5px #888888;
  z-index: 999;
}

ul {
  list-style-type: none;
  padding: 0;
}

.glyphicon-apple {
  padding: 0 0 0 20px;
}

.glyphicon {
  top: 0;
  font-size: 18px;
}

ul.left {
  display: block;
  float: left;
}
ul.left li {
  display: inline-block;
  margin: 5px 20px 0 0;
  font-size: 16px;
  font-weight: 700;
}
ul.left li.bold {
  font-weight: 900;
}

ul.right {
  display: block;
  float: right;
}
ul.right li {
  display: inline-block;
  margin: 5px 5px 0 10px;
  font-size: 16px;
  font-weight: 700;
}

#icon1 {
  position: absolute;
  right: 20px;
  top: 60px;
}

#icon2 {
  position: absolute;
  right: 20px;
  top: 240px;
}

.desktop_icon {
  min-width: 120px;
}
.desktop_icon img {
  height: 100px;
  width: 100px;
}
.desktop_icon p {
  max-width: 100px;
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 0px 2px 8px #111111;
}

.windowAbout {
  height: 400px;
  width: 600px;
  background-color: white;
  position: relative;
  top: 20%;
  right: -100px;
  border-radius: 5px;
  z-index: 99;
}
.windowAbout .windowBar {
  height: 40px;
  background-color: #dfdfdf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.windowAbout .glyphicon-remove-sign {
  color: #dd3333;
  margin: 10px 2px 0 10px;
}
.windowAbout .glyphicon-minus-sign {
  color: yellow;
  margin: 10px 2px 0 2px;
}
.windowAbout .glyphicon-plus-sign {
  color: #33dd33;
  margin: 10px 2px 0 2px;
}
.windowAbout .icon img {
  position: absolute;
  top: 60%;
  transform: translate(0%, -60%);
  height: 300px;
}

#dock {
  position: fixed;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  height: 90px;
  min-width: 500px;
  background-color: rgba(175, 175, 175, 0.9);
  border-radius: 5px;
}
#dock img {
  height: 60px;
  width: 60px;
  margin: 10px 5px 5px 5px;
}
#dock span.border {
  border-left: 2px solid gray;
  position: fixed;
  top: 10px;
  bottom: 20px;
}
#dock .minFolder {
  float: left;
  display: none;
}

#sort {
  float: left;
}

#noSort {
  float: right;
}
